
<% layout('/layouts/public-boilerplate') -%>

        <!-- hieronder de body -->

        <div class="container">

            <h2 class=" h1 text-center" >Een goed verhaal !</h2>
            <br>
            <h3 class="text-center">Helpende handen oogsten dankbaarheid</h3>
            <hr>

            <div class="story">
                <h4>"Erg dankbaar voor de hulp in de tuin"</h4>
                <hr>
                <i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
                </i>
                <hr>
                <p class="text-right">mevr. Bos</p>
            </div>

            <div class="story">
                <h4>"We hebben in jaren niet zo'n gezellige woonkamer gehad met de aangeboden kerstboom"</h4>
                <hr>
                <i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
                </i>
                <hr>
                <p class="text-right">de bewoners van zorgcentrum "de Haven"</p>
            </div>

            <div class="story">
                <h4>"We genieten enorm van de maaltijden op dinsdag en donderdag, dank aan de chef"</h4>
                <hr>
                <i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, provident voluptatibus.
                    Minus esse saepe eveniet! Veritatis aperiam cumque dolorum pariatur itaque ut, perspiciatis similique!
                    Earum delectus consequatur cupiditate obcaecati sunt?
                </p>
                </i>
                <hr>
                <p class="text-right">Familie Draaier</p>
            </div>
            
            <hr>
            <h2 class="text-center" >Meld je aan als je een handje kan gebruiken</h2>
            <h2 class="text-center" >of</h2>
            <h2 class="text-center" >Meld je aan als je de mogelijkheid hebt een helpende hand te bieden</h2>
            
            <a href="/inschrijven">
            <button type="button" class="btn btn-primary float-right">inschrijven</button>
            </a>
            <br>
            <br>
            <hr>
            
                
            


      

        </div>